html,body{
height:100%;
}
*{
-webkit-tap-highlight-color: transparent;
}
html{
font-size: 20px
}
.L{
float: left;
}
.R{
float: right
}
.container{
width:16rem;
font-family: '微软雅黑';
margin:0 auto;
overflow: hidden;
}
.container .remindBox .remind{
width:100%;
height:4.224rem;
border-bottom: 1px solid #ebebeb;
position: relative;
}
.container .remindBox .remind .remindType{
width:11.09rem;
margin:0 auto;
font-size: .853rem;
color:#000;
line-height: 4.224rem;
}
.container .remindBox .remind .remindType a{
display: block
}
.container .remindBox .remind .remindType img{
width:3.4rem;
height:1.322rem;
display: block;
margin-top: 1.451rem
}
.container .remindBox .remind .remindTime{
font-size: .597rem;
position: absolute;
bottom:0rem;
left:50%;
transform: translate(-50%,0);
color:#576b95;
height:.896rem;
line-height: .896rem
}
.container .remindBox .remind .remindTime input{
color:#576b95;
width:2rem;
height:100%;
font-size: .597rem;
display: block;
margin-left: .1rem
}
.container .remindBox .remind .remindTime a{
color:#576b95;
}